html, body {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #fdffbc;
  font-family: 'Monda', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  }


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
